* {
  margin: 0;
  padding: 0;
  outline: 0; }

html {
  background-color: #000;
  font-size: 62.5%; }

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #000; }

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url("BebasNeueBold.woff") format("woff"), url("BebasNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.logo {
  margin: 0; }

.menuIcon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 1.8rem;
  height: 100%;
  cursor: pointer; }
  .menuIcon__bar {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 2px;
    background-color: #fff; }
    .menuIcon__bar::after {
      content: '';
      position: absolute;
      top: -.6rem;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: inherit; }
    .menuIcon__bar::before {
      content: '';
      position: absolute;
      top: .6rem;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: inherit; }

.heading {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.2rem;
  margin: 0;
  font-family: "Bebas Neue Bold", sans-serif; }
  @media (min-width: 56.25em) {
    .heading {
      font-size: 2.6rem; } }
  @media (min-width: 75em) {
    .heading {
      font-size: 3rem; } }

.user {
  position: relative;
  width: 100%;
  margin: 5rem 2rem;
  text-align: center;
  background-color: #000;
  overflow: hidden; }
  .user-container {
    width: 100%; }
    @media (min-width: 75em) {
      .user-container {
        width: 80%;
        position: relative;
        text-align: left;
        left: 10rem; } }
  .user__avatar {
    position: relative;
    width: 7rem;
    height: 7rem;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 5px; }
    @media (min-width: 75em) {
      .user__avatar {
        position: absolute;
        left: 0rem; } }
    .user__avatar__image {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .user__name {
    font-size: 1.8rem;
    margin-bottom: 1rem; }
    @media (min-width: 75em) {
      .user__name {
        margin-bottom: 2rem; } }
  .user__review {
    text-align: center;
    width: 100%;
    font-family: "PT Sans", "Segoe UI", sans-serif;
    font-size: 1.4rem;
    color: #767676; }
    @media (min-width: 75em) {
      .user__review {
        text-align: left;
        width: 70%; } }

.wide {
  width: 180%; }

.searchModal__body {
  width: 90%;
  margin: 0 auto; }

.search-input {
  border-radius: 0 !important;
  background-color: transparent !important;
  border: 1px solid #b6907e !important;
  height: 4rem;
  padding: 1rem;
  color: #b6907e !important;
  font-family: "PT Sans", "Segoe UI", sans-serif;
  font-size: 1.4rem !important;
  margin-bottom: 1rem; }
  .search-input:focus {
    box-shadow: none !important; }

.search-btn {
  background-color: #b6907e;
  border-radius: 0 !important;
  font-size: 1.6rem !important; }
  .search-btn:hover {
    background-color: #cea18c; }

.signup, .searchModal {
  background-color: #0e0e0e !important;
  overflow: hidden !important; }
  .signup__header, .searchModal__header {
    margin-top: .5rem;
    border-bottom: 0 !important;
    background-color: #0e0e0e; }
    .signup__header__heading, .searchModal__header__heading {
      position: relative;
      left: 10%;
      text-align: center;
      font-size: 2.8rem; }
  .signup__body, .searchModal__body {
    background-color: #0e0e0e; }
    .signup__body__form, .searchModal__body__form {
      width: 80%;
      margin: 0 auto;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-direction: column; }
      .signup__body__form__input:empty, .searchModal__body__form__input:empty {
        background-color: transparent;
        border: 1px solid #767676;
        height: 4rem;
        padding: 1rem;
        color: #767676;
        font-family: "PT Sans", "Segoe UI", sans-serif;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        -webkit-transition: border-color .2s ease;
        -o-transition: border-color .2s ease;
        transition: border-color .2s ease; }
        .signup__body__form__input:empty:valid, .searchModal__body__form__input:empty:valid {
          border-color: #b6907e;
          color: #b6907e; }
        .signup__body__form__input:empty:invalid:not(:placeholder-shown), .searchModal__body__form__input:empty:invalid:not(:placeholder-shown) {
          border-color: crimson;
          color: crimson; }
      .signup__body__form__label, .searchModal__body__form__label {
        color: #b6907e;
        font-family: "Bebas Neue Bold", sans-serif;
        letter-spacing: 3px;
        font-size: 1.6rem; }
  .signup__footer, .searchModal__footer {
    border-top: 0 !important;
    background-color: #0e0e0e; }
    .signup__footer__btn, .searchModal__footer__btn {
      margin: 0 auto;
      padding: 0 !important;
      width: 80%;
      font-family: "Bebas Neue Bold", sans-serif;
      font-size: 2rem !important;
      border-radius: 0 !important;
      letter-spacing: 3px;
      color: #0e0e0e;
      background-color: #b6907e;
      height: 5rem; }
      .signup__footer__btn:hover, .searchModal__footer__btn:hover {
        background-color: #cea18c; }

.close-btn {
  position: relative;
  right: 1.4rem;
  color: #fff !important;
  font-size: 2rem !important; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #0e0e0e;
  z-index: 500; }
  .header__content {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center; }
    @media (min-width: 56.25em) {
      .header__content {
        width: 80%; } }
    .header__content__text {
      position: absolute;
      left: 0;
      margin: 0;
      color: #767676;
      font-size: 1rem;
      font-family: "Calibri", sans-serif;
      font-style: italic;
      letter-spacing: .5px;
      width: 50%; }
      @media (min-width: 56.25em) {
        .header__content__text {
          font-size: 1.3rem; } }
    .header__content__icons {
      position: absolute;
      right: 0;
      width: 45%;
      text-align: right; }
      .header__content__icons__icon {
        position: relative;
        color: #fff;
        font-size: 1.8rem;
        margin: 0 .5rem;
        text-decoration: none;
        -webkit-transition: color 0.3s ease;
        -moz-transition: color 0.3s ease;
        transition: color 0.3s ease; }
        @media (min-width: 56.25em) {
          .header__content__icons__icon {
            margin: 0 1rem; } }
        .header__content__icons__icon:hover {
          color: #b6907e;
          text-decoration: none; }
        .header__content__icons__icon:hover .header__content__icons__icon--count {
          color: #fff; }
        .header__content__icons__icon:last-child {
          margin: 0 0 0 1.5rem; }
        .header__content__icons__icon--count {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 1.4rem;
          height: 1.4rem;
          background-color: #b6907e;
          border-radius: 50%; }
          .header__content__icons__icon--count--digit {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin: 0;
            padding: 0;
            font-size: .8rem;
            font-family: "Segoe UI", sans-serif; }

.search {
  display: none; }
  @media (min-width: 56.25em) {
    .search {
      display: inline-block; } }

.menu {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 3.4rem;
  background-color: #000;
  z-index: 500; }
  @media (min-width: 56.25em) {
    .menu {
      display: none; } }
  .menu__wrap {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .menu__wrap__logo {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      text-align: center;
      color: #fff;
      font-size: 1.6rem;
      font-weight: bold;
      font-family: "Bebas Neue Bold", sans-serif;
      letter-spacing: 5px; }
    .menu__wrap__content {
      width: 45%;
      height: 100%;
      text-align: right; }
    .menu__wrap__search {
      position: absolute;
      right: 0;
      color: #fff;
      font-size: 1.6rem; }
      .menu__wrap__search:hover {
        color: #b6907e; }

.fullMenu {
  display: none;
  position: fixed;
  top: 4rem;
  width: 100%;
  height: 6rem;
  z-index: 500;
  background-color: #000; }
  @media (min-width: 56.25em) {
    .fullMenu {
      display: block; } }
  .fullMenu__wrap {
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    z-index: 15;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center; }
    .fullMenu__wrap__points__link {
      color: #fff;
      font-family: "Bebas Neue Bold", sans-serif;
      font-size: 1.8rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin: 0 1rem;
      -moz-transition: color 0.3s ease;
      -webkit-transition: color 0.3s ease;
      transition: color 0.3s ease; }
      .fullMenu__wrap__points__link:hover {
        color: #b6907e;
        text-decoration: none; }
    .fullMenu__wrap__phone__number {
      color: #fff;
      font-family: "Bebas Neue Bold", sans-serif;
      font-size: 1.6rem;
      margin: 0;
      font-weight: bold;
      letter-spacing: 2px; }

.mobileMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 900;
  background-color: #0e0e0e;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%); }
  @media (min-width: 75em) {
    .mobileMenu {
      display: none;
      visibility: hidden; } }
  .mobileMenu__cross {
    position: absolute;
    top: 5.6rem;
    left: 5%;
    width: 2rem;
    height: 2px;
    background-color: #b6907e;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer; }
    .mobileMenu__cross::after {
      content: '';
      position: absolute;
      width: 2rem;
      height: 2px;
      background-color: inherit;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .mobileMenu__points {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    width: 70%; }
    .mobileMenu__points__link {
      display: block;
      width: 100%;
      font-size: 2.6rem;
      font-family: "Bebas Neue Bold", sans-serif;
      color: #b6907e;
      letter-spacing: 2px;
      margin: .5rem 0; }
      .mobileMenu__points__link:hover {
        text-decoration: none;
        color: #b6907e; }
    .mobileMenu__points__number {
      position: absolute;
      bottom: -8rem; }

.handset {
  color: #b6907e;
  margin-right: .5rem;
  font-size: 2rem; }

.fullLogo {
  color: #fff;
  font-size: 2.8rem;
  margin: 0;
  font-weight: bold;
  font-family: "Bebas Neue Bold", sans-serif;
  letter-spacing: 5px; }

.point-active {
  color: #b6907e;
  border-bottom: 3px solid #b6907e; }

/**************************************
    MENU ANIMATIONS
***************************************/
.openMenu {
  animation-name: open;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0.2, -0.8, 0.5); }

.closeMenu {
  animation-name: close;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0.2, -0.8, 0.5); }

@keyframes open {
  0% {
    display: block;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

@keyframes close {
  0% {
    display: block;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    display: none; } }

.mainSlider {
  position: relative;
  top: 7.4rem;
  margin: 0 auto;
  width: 100%;
  background-color: #000; }
  .mainSlider-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%; }
    @media (min-width: 56.25em) {
      .mainSlider-wrapper {
        width: 80%; } }
  .mainSlider__content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "Bebas Neue Bold", sans-serif;
    left: 5%;
    z-index: 2;
    width: 70%; }
    .mainSlider__content__heading {
      text-shadow: 0 2px 10px #0e0e0e;
      font-size: 2.4rem;
      text-transform: uppercase;
      letter-spacing: 5px;
      line-height: 3rem;
      color: #fff; }
      @media (min-width: 56.25em) {
        .mainSlider__content__heading {
          font-size: 3.4rem;
          line-height: 4rem;
          font-weight: bold; } }
      @media (min-width: 75em) {
        .mainSlider__content__heading {
          font-size: 4.8rem;
          line-height: 6rem; } }
    .mainSlider__content__btn {
      background-color: transparent;
      border: 2px solid #b6907e;
      color: #b6907e;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 1.5px;
      padding: .8rem 1.5rem;
      text-transform: uppercase;
      margin: .3rem 0;
      cursor: pointer;
      -moz-transition: background-color 0.3s ease-out;
      -webkit-transition: background-color 0.3s ease-out;
      transition: background-color 0.3s ease-out; }
      @media (min-width: 56.25em) {
        .mainSlider__content__btn {
          font-size: 1.2rem;
          margin-top: 1.5rem;
          margin-right: 2rem; } }
      @media (min-width: 75em) {
        .mainSlider__content__btn {
          font-size: 1.4rem;
          padding: 1rem 2.4rem; } }
      .mainSlider__content__btn:hover {
        background-color: #b6907e;
        color: #0e0e0e; }
  .mainSlider__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.9) 30%, rgba(14, 14, 14, 0.1) 70%, #000 100%);
    z-index: 1; }

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  overflow: hidden; }

.main-slide {
  height: 25rem; }
  @media (min-width: 37.5em) {
    .main-slide {
      height: 40rem; } }
  @media (min-width: 56.25em) {
    .main-slide {
      height: 85vh; } }
  @media (min-width: 75em) {
    .main-slide {
      height: 88vh; } }

/***************************************
    Slider images
****************************************/
.image {
  background-size: cover;
  background-position: center; }

.image1 {
  background-image: url(../img/watches1.jpeg); }

.image2 {
  background-image: url(../img/watches2.jpeg); }

.image3 {
  background-image: url(../img/watches3.jpeg); }

/***************************************
    Slider images end
****************************************/
.slideImage {
  height: 100%; }

.carousel-control-prev {
  z-index: 5; }

.carousel-control-next {
  z-index: 5; }

.carousel-indicators {
  margin: 0; }
  @media (min-width: 56.25em) {
    .carousel-indicators {
      margin: 1rem; } }

.dot {
  border-radius: 50%;
  margin: 0 1rem !important;
  width: 1rem !important;
  height: 1rem !important;
  background-color: rgba(182, 144, 126, 0.5) !important; }

.active {
  background-color: #b6907e !important; }

.company {
  position: relative;
  top: 7.4rem;
  width: 100%;
  background-color: #000; }
  @media (min-width: 75em) {
    .company {
      height: 80vh; } }
  .company__bg {
    display: none; }
    @media (min-width: 75em) {
      .company__bg {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../img/bg1.jpg);
        background-size: cover;
        background-position: left bottom; } }
    .company__bg__gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to left, #000 0%, rgba(0, 0, 0, 0.95) 30%, rgba(0, 0, 0, 0.5) 60%, rgba(14, 14, 14, 0.1) 100%);
      z-index: 2; }
  .company-slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 10; }
    @media (min-width: 37.5em) {
      .company-slider {
        width: 80%; } }
    @media (min-width: 75em) {
      .company-slider {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 40rem;
        margin: 0;
        left: 60%; } }
  .company__header {
    margin: .3rem 0 1.5rem 0;
    font-family: "Bebas Neue Bold", sans-serif;
    letter-spacing: 3px; }
  .company__item {
    text-align: left;
    background-color: #000 !important;
    padding: 5rem 5%; }
    @media (min-width: 75em) {
      .company__item {
        background-color: transparent !important; } }
    .company__item__text {
      color: #767676;
      font-size: 1.4rem;
      font-family: "PT Sans", "Segoe UI", sans-serif; }
      @media (min-width: 75em) {
        .company__item__text {
          font-size: 1.6rem; } }

.control-group {
  width: 3rem;
  position: absolute;
  top: 3rem;
  left: 10%; }
  .control-group__arrow {
    margin: 0; }

.collections {
  position: relative;
  top: 7.4rem;
  width: 100%;
  background-color: #000; }
  .collections__header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 5% 0;
    font-family: "Bebas Neue Bold", sans-serif;
    text-transform: uppercase; }
    @media (min-width: 75em) {
      .collections__header {
        padding: 3% 0;
        width: 80%; } }
    .collections__header__list {
      margin: 0; }
      .collections__header__list__item {
        display: inline-block; }
        .collections__header__list__item:last-child {
          margin-left: .5rem; }
          @media (min-width: 75em) {
            .collections__header__list__item:last-child {
              margin-left: 1.5rem; } }
        .collections__header__list__item__link {
          color: #fff;
          letter-spacing: 2px;
          font-size: 1.2rem;
          -moz-transition: color 0.3s ease;
          -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
          cursor: pointer; }
          @media (min-width: 37.5em) {
            .collections__header__list__item__link {
              font-size: 1.6rem; } }
          @media (min-width: 75em) {
            .collections__header__list__item__link {
              font-size: 1.8rem; } }
          .collections__header__list__item__link:hover {
            color: #b6907e;
            text-decoration: none; }

.active-link {
  border-bottom: 3px solid #b6907e; }

.collection {
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 56.25em) {
    .collection {
      width: 80%; } }
  .collection__slide {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-family: "PT Sans", "Segoe UI", sans-serif; }
    .collection__slide:hover {
      background-color: #0e0e0e; }
    @media (min-width: 56.25em) {
      .collection__slide {
        padding: 2rem;
        border: 1px solid #333333;
        margin: 3rem; } }
    .collection__slide__link:hover {
      text-decoration: none; }
    .collection__slide__img {
      width: 100%;
      margin-bottom: 2.5rem; }
    .collection__slide__name {
      font-size: 1.8rem;
      font-weight: bold; }

.price {
  color: #b6907e;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 1rem 0 2rem 0; }

.popular {
  display: none;
  height: 0;
  visibility: collapse; }

.hideCollection {
  display: none;
  height: 0;
  visibility: collapse; }

.showCollection {
  display: block;
  height: 100%;
  visibility: visible; }

.partners {
  position: relative;
  top: 7.3rem;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #0e0e0e; }
  .partners__logos {
    width: 90%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center; }
    @media (min-width: 56.25em) {
      .partners__logos {
        flex-direction: row;
        justify-content: center;
        width: 80%; } }
    .partners__logos__logo {
      width: 70%; }
      @media (min-width: 56.25em) {
        .partners__logos__logo {
          width: 20%;
          margin: 0 4rem; } }

.partner {
  -webkit-filter: grayscale(1) brightness(1.3);
  filter: grayscale(1) brightness(1.3); }

.feedback {
  position: relative;
  top: 7.3rem;
  left: 0;
  width: 100%;
  background-color: #000;
  padding: 5rem 0; }
  .feedback__header {
    position: relative;
    top: 2.5rem;
    left: 0;
    margin-bottom: 2.5rem; }
  .feedback__reviews {
    position: relative;
    width: 80%;
    margin: 0 auto;
    top: 0rem; }

.footer {
  position: relative;
  top: 7.3rem;
  width: 100%;
  padding: 5rem 0;
  text-align: center;
  background-color: #0e0e0e;
  overflow: hidden; }
  @media (min-width: 75em) {
    .footer {
      text-align: left; } }
  @media (min-width: 75em) {
    .footer__heading {
      font-size: 2rem; } }
  .footer__content {
    overflow: hidden;
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 75em) {
      .footer__content {
        width: 80%; } }
    .footer__content__logo {
      display: none; }
      @media (min-width: 75em) {
        .footer__content__logo {
          display: block; } }
    .footer__content__menu {
      width: 100%;
      margin: 2rem 0rem; }
      @media (min-width: 75em) {
        .footer__content__menu {
          text-align: left; } }
      .footer__content__menu__list {
        margin-top: .5rem;
        list-style: none; }
        @media (min-width: 75em) {
          .footer__content__menu__list {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2; } }
        .footer__content__menu__list__item {
          display: inline-block; }
          @media (min-width: 75em) {
            .footer__content__menu__list__item {
              display: block;
              margin: 0; } }
          .footer__content__menu__list__item__link {
            color: #5d5d5d;
            font-family: "Bebas Neue Bold", sans-serif;
            font-size: 1.4rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 2.4rem;
            margin: 0 .5rem;
            -webkit-transition: color 0.3s ease;
            -moz-transition: color 0.3s ease;
            transition: color 0.3s ease; }
            @media (min-width: 75em) {
              .footer__content__menu__list__item__link {
                margin: 0; } }
            .footer__content__menu__list__item__link:hover {
              color: #b6907e;
              text-decoration: none; }
    .footer__content__email {
      width: 100%;
      margin: 2rem 0; }
  .footer__logo {
    width: 100%;
    margin-top: 2rem; }
  .footer__bottom {
    width: 100%; }
    @media (min-width: 75em) {
      .footer__bottom {
        width: 80%;
        margin: 0 auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        align-content: space-between; } }

.subLogo {
  color: #767676;
  font-size: 1.3rem;
  font-family: "Calibri", sans-serif;
  font-style: italic;
  letter-spacing: .5px;
  width: 100%; }

.inputGroup {
  margin: 1rem 0; }
  .inputGroup__input {
    background-color: transparent;
    border: 0.5px solid #b6907e;
    width: 70%;
    font-size: 1.2rem;
    height: 3rem;
    letter-spacing: 1px;
    font-family: "PT Sans", "Segoe UI", sans-serif;
    color: #b6907e;
    margin: 0;
    padding: 0 1rem; }
    @media (min-width: 75em) {
      .inputGroup__input {
        height: 3.5rem; } }
  .inputGroup__btn {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    width: 29.9%;
    height: 3rem;
    background-color: #b6907e;
    border: 0;
    text-transform: uppercase;
    color: #0e0e0e;
    font-family: "PT Sans", "Segoe UI", sans-serif;
    cursor: pointer; }
    @media (min-width: 75em) {
      .inputGroup__btn {
        height: 3.5rem; } }

.social {
  margin-bottom: .5rem; }
  .social__icon {
    font-size: 2.4rem;
    margin: 0 .5rem;
    color: #333333;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    @media (min-width: 75em) {
      .social__icon {
        font-size: 1.8rem; } }
    .social__icon:hover {
      color: #b6907e; }

.copyright {
  position: relative;
  padding: .5rem 0;
  font-size: 1.2rem;
  color: #333333;
  font-family: "PT Sans", "Segoe UI", sans-serif;
  font-weight: bold; }
